target/
tmp/
docs/
target-testng/
target-junit/
dataExports/
randb/
test-output/
screenshots/
update/
idart-*.jar
Pharmacy.jar
pgpass
idart.properties
unencrypted_idart.properties
error.*
*.log*
Reports/*.jasper
Reports/*.java
Reports/*.bak
Reports/*.csv
